<div class="container-fluid">
  <div class="row">
    <div class="col-6 center-content login-leftcol-background">
      <p class="display-6 login-leftcol-font-color">
        Attendance Management System
      </p>
    </div>
    <div class="col-6 center-content">
      <div class="login-card">
        <p class="login-header custom-font-style">Sign in</p>
        <small class="text-muted login-muted-text"
          >Enter credentials to access</small
        >
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="usernameField"
              autocomplete="off"
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="passwordField"
              autocomplete="off"
              placeholder="Password"
            />
          </div>
          <button type="submit" class="btn btn-primary mt-3 login-card">
            Sign in
          </button>
        </form>
        <div class="row text-primary footer-section mt-5">
          Privacy Policy - Terms of Service
        </div>
      </div>
    </div>
  </div>
</div>
